In [1]:
from sqlalchemy import create_engine
import pandas as pd
import subprocess

In [2]:
DB_URL=subprocess.check_output("heroku config:get DATABASE_URL --app house-cat", shell=True).decode('utf-8')

In [3]:
engine = create_engine(DB_URL)

In [8]:
regions_df = pd.DataFrame({'region': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',\
                                      'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',\
                                     'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',\
                                     'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',\
                                     'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',\
                                     'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',\
                                     'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',\
                                     'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']})

In [14]:
regions_df.to_sql('db_app_region', con=engine, if_exists='append', index_label='id')

In [15]:
pd.read_sql_query('''
    SELECT * FROM db_app_region;
''', con=engine)

    id          region
0    0         Alabama
1    1          Alaska
2    2         Arizona
3    3        Arkansas
4    4      California
5    5        Colorado
6    6     Connecticut
7    7        Delaware
8    8         Florida
9    9         Georgia
10  10          Hawaii
11  11           Idaho
12  12        Illinois
13  13         Indiana
14  14            Iowa
15  15          Kansas
16  16        Kentucky
17  17       Louisiana
18  18           Maine
19  19        Maryland
20  20   Massachusetts
21  21        Michigan
22  22       Minnesota
23  23     Mississippi
24  24        Missouri
25  25         Montana
26  26        Nebraska
27  27          Nevada
28  28   New Hampshire
29  29      New Jersey
30  30      New Mexico
31  31        New York
32  32  North Carolina
33  33    North Dakota
34  34            Ohio
35  35        Oklahoma
36  36          Oregon
37  37    Pennsylvania
38  38    Rhode Island
39  39  South Carolina
40  40    South Dakota
41  41       Tennessee
42  42           Texas
43  43            Utah
44  44         Vermont
45  45        Virginia
46  46      Washington
47  47   West Virginia
48  48       Wisconsin
49  49         Wyoming

In [4]:
tags_df = pd.read_csv('../bandcamp_tags.csv', sep=',')

In [5]:
tags_df.drop_duplicates(inplace=True)

In [6]:
tags_df.reset_index(inplace=True, drop=True)

In [7]:
tags_df.to_sql('db_app_tag', con=engine, if_exists='append', index_label='id')

In [9]:
pd.read_sql_query('''
    SELECT * FROM db_app_tag;
''', con=engine)

      id                tag
0      0         electronic
1      1       experimental
2      2               rock
3      3        alternative
4      4        hip-hop/rap
5      5               punk
6      6              metal
7      7            ambient
8      8              indie
9      9              noise
10    10                pop
11    11            hip hop
12    12         indie rock
13    13       instrumental
14    14             techno
15    15               folk
16    16           acoustic
17    17                rap
18    18              drone
19    19        psychedelic
20    20        electronica
21    21           hardcore
22    22  singer-songwriter
23    23              lo-fi
24    24              house
25    25         industrial
26    26               jazz
27    27   alternative rock
28    28       dark ambient
29    29              world
..   ...                ...
293  293            boombap
294  294               8bit
295  295     easy listening
296  296              funky
297  297         hypnagogic
298  298    psychedelic pop
299  299       sludge metal
300  300      dungeon synth
301  301          dancehall
302  302        dance music
303  303       neoclassical
304  304        space music
305  305               lyon
306  306           footwork
307  307          goregrind
308  308             future
309  309              death
310  310            lyrical
311  311          prog rock
312  312               fuzz
313  313            triphop
314  314        future funk
315  315             dreamy
316  316          cyberpunk
317  317          freestyle
318  318             tribal
319  319           outsider
320  320               club
321  321         relaxation
322  322       acoustic pop

[323 rows x 2 columns]