In [1]:
from sqlalchemy import create_engine
import pandas as pd
import subprocess

In [2]:
DB_URL=subprocess.check_output("heroku config:get DATABASE_URL --app house-cat", shell=True).decode('utf-8')

In [3]:
engine = create_engine(DB_URL)

In [8]:
regions_df = pd.DataFrame({'region': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',\
                                      'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois',\
                                     'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',\
                                     'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',\
                                     'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',\
                                     'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',\
                                     'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',\
                                     'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']})

In [14]:
regions_df.to_sql('db_app_region', con=engine, if_exists='append', index_label='id')

In [15]:
pd.read_sql_query('''
    SELECT * FROM db_app_region;
''', con=engine)

    id          region
0    0         Alabama
1    1          Alaska
2    2         Arizona
3    3        Arkansas
4    4      California
5    5        Colorado
6    6     Connecticut
7    7        Delaware
8    8         Florida
9    9         Georgia
10  10          Hawaii
11  11           Idaho
12  12        Illinois
13  13         Indiana
14  14            Iowa
15  15          Kansas
16  16        Kentucky
17  17       Louisiana
18  18           Maine
19  19        Maryland
20  20   Massachusetts
21  21        Michigan
22  22       Minnesota
23  23     Mississippi
24  24        Missouri
25  25         Montana
26  26        Nebraska
27  27          Nevada
28  28   New Hampshire
29  29      New Jersey
30  30      New Mexico
31  31        New York
32  32  North Carolina
33  33    North Dakota
34  34            Ohio
35  35        Oklahoma
36  36          Oregon
37  37    Pennsylvania
38  38    Rhode Island
39  39  South Carolina
40  40    South Dakota
41  41       Tennessee
42  42           Texas
43  43            Utah
44  44         Vermont
45  45        Virginia
46  46      Washington
47  47   West Virginia
48  48       Wisconsin
49  49         Wyoming

In [48]:
tags_df = pd.read_csv('../bandcamp_tags.csv', sep=',')

In [49]:
tags_df.drop_duplicates(inplace=True)

In [50]:
tags_df.reset_index(inplace=True, drop=True)

In [51]:
tags_df.to_sql('db_app_tag', con=engine, if_exists='append', index_label='id')

DataError: (psycopg2.DataError) value too long for type character varying(20)
 [SQL: 'INSERT INTO db_app_tag (id, tag) VALUES (%(id)s, %(tag)s)'] [parameters: ({'id': 0, 'tag': 'electronic'}, {'id': 1, 'tag': 'experimental'}, {'id': 2, 'tag': 'rock'}, {'id': 3, 'tag': 'alternative'}, {'id': 4, 'tag': 'hip-hop/rap'}, {'id': 5, 'tag': 'punk'}, {'id': 6, 'tag': 'metal'}, {'id': 7, 'tag': 'ambient'}  ... displaying 10 of 323 total bound parameter sets ...  {'id': 321, 'tag': 'relaxation'}, {'id': 322, 'tag': 'acoustic pop'})] (Background on this error at: http://sqlalche.me/e/9h9h)